[submodule "zsh-syntax-highlighting"]
	path = atna_settings/atna_eng_zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "powerlevel10k"]
	path = atna_settings/atna_eng_zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git

[submodule "ohmyzsh"]
	path = atna_settings/atna_eng_zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "atna_config_dotfiles"]
	path = atna_settings/atna_config_dotfiles
	url = https://github.com/sy-md/atna_config_dotfiles.git

[submodule "sy-music"]
	path = atna_music/sy-music
	url = https://github.com/sy-md/sy-music.git

[submodule "DSA"]
	path = athena_apps/data-structures-algorithms-python
	url = https://github.com/sy-md/data-structures-algorithms-python.git

[submodule "Youtube_api"]
	path = athena_apps/Youtube_api
	url = https://github.com/sy-md/Youtube_api.git

[submodule "atna_settings/copilot.vim"]
	path = atna_settings/copilot.vim
	url = https://github.com/github/copilot.vim.git
